body {
    background-color: #f2f2f2; 
    background-image: url('background-image.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
}
